<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996579167363-ns9c6b92usbkj3etevhoo6ltd49qqhr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996579167363-ns9c6b92usbkj3etevhoo6ltd49qqhr3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996579167363-83agmfe9q591ud9bf0bqgjb8tg582dec.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaulOWsYv6QoOvf4hvgPr6bLgC625dwrk</string>
	<key>GCM_SENDER_ID</key>
	<string>996579167363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.realpro.vendor</string>
	<key>PROJECT_ID</key>
	<string>clarityapp-9e141</string>
	<key>STORAGE_BUCKET</key>
	<string>clarityapp-9e141.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996579167363:ios:a5410f87e521ecb74ddfb6</string>
	<key>DATABASE_URL</key>
	<string>https://clarityapp-9e141-default-rtdb.firebaseio.com</string>
</dict>
</plist>